[submodule "packages/math"]
	path = packages/math
	url = https://github.com/inkdropapp/inkdrop-math.git
[submodule "packages/sequence-diagrams"]
	path = packages/sequence-diagrams
	url = https://github.com/inkdropapp/inkdrop-sequence-diagrams.git
[submodule "packages/markdown-emoji"]
	path = packages/markdown-emoji
	url = https://github.com/inkdropapp/inkdrop-markdown-emoji.git
[submodule "packages/flowchart"]
	path = packages/flowchart
	url = https://github.com/inkdropapp/inkdrop-flowchart.git
[submodule "packages/toc"]
	path = packages/toc
	url = https://github.com/inkdropapp/inkdrop-toc.git
[submodule "packages/breaks"]
	path = packages/breaks
	url = https://github.com/inkdropapp/inkdrop-breaks.git
[submodule "packages/mermaid"]
	path = packages/mermaid
	url = https://github.com/inkdropapp/inkdrop-mermaid.git
[submodule "packages/embed"]
	path = packages/embed
	url = https://github.com/inkdropapp/inkdrop-embed.git
