[submodule "packages/math"]
	path = packages/math
	url = https://github.com/inkdropapp/inkdrop-math.git
[submodule "packages/sequence-diagrams"]
	path = packages/sequence-diagrams
	url = https://github.com/inkdropapp/inkdrop-sequence-diagrams.git
[submodule "packages/markdown-emoji"]
	path = packages/markdown-emoji
	url = https://github.com/inkdropapp/inkdrop-markdown-emoji.git
